{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "mocha": true,
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
  },
  "rules": {
    "no-console": 0
  },
  "globals": {
    "Promise": true,
    "assert": true,
    "should": true,
    "expect": true,
  },
}
