<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <h1>A new suggestion!</h1>
  <h2>Name</h2>
  <p>{{ name }}</p>
  <h2>Description</h2>
  <p>{{ description }}</p>
  <p>
    Check <a href="{{ SITE_URL }}">jakal page</a> for details
  </p>
</body>
</html>
