{
  "presets": [
    "react",
    "env"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "reducers": "./app/src/reducers",
      }
    }]
  ],
}
