:root {
  --theme-color-brightest: #F0EFF4;
  --theme-color-bright: #9E829C;
  --theme-color-neutral: #3A3E3B;
  --theme-color-dark: #291528;
  --theme-color-darkest: #000000;
}

@function radial-bubble($color, $size) {
  @return radial-gradient($color $size * 1%, transparent ($size + 1) * 1%);
}


html, body {
  height: 105vh;
  font-size: 14px;
  box-sizing: border-box;
  background:
    radial-bubble(var(--theme-color-darkest), 50),
    radial-bubble(var(--theme-color-darkest), 50),
    var(--theme-color-dark);
  background-position: 0 0, 20px 20px;
  background-size:40px 40px;

  @media only screen and (max-device-width: 1200px) {
    font-size: 1.8rem;
  }
}


*, :after, :before {
  box-sizing: inherit;
}

.root {
  background: var(--theme-color-dark);
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}
