{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    browser: true,
  },
  "rules": {
    "max-len": [2, 160, 4],
    "react/prefer-stateless-function": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "warn",
    "import/prefer-default-export": "off",
    "no-console": "off",
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "react/sort-comp": "off",
    "react/forbid-prop-types": "warn",
    "jsx-a11y/anchor-is-valid": ["error", {
      "components": ["Link"],
      "specialLink": ["to"],
      "aspects": ["noHref", "invalidHref", "preferButton"],
    }],
  },
  "settings": {
    "import/resolver": {
      "babel-module": {},
    },
  },
}
