<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <h1>Suggestion period has started</h1>
  <p>
    Go to <a href="{{ SITE_URL }}">jakal page</a> and add the instrument that will</br>
    bring us the best profit, or the one that makes the world a better place.</br></br>
    Whatever makes you sleep the best at night.
  </p>
</body>
</html>
