<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <h1>Time to vote on your favourite instrument!</h1>
  <h2>This month instruments are:</h2>
  <p>
    <ul>
      {{#if suggestions}}
        {{#each suggestions}}
          <li>{{ this.name }}</li>
        {{/each}}
      {{else}}
        <li>No instruments this month :/</li>
      {{/if}}
    </ul>
  </p>
  <p>
    {{#if suggestions}}
      Go to <a href="{{ SITE_URL }}">jakal page</a> and do you voting!
    {{/if}}
  </p>
</body>
</html>
